In [1]:
import pandas as pd
import numpy as np
import io
import os
from pandas import read_csv
import numpy as np # linear algebra
import random as rd # generating random numbers
import datetime # manipulating date formats
from math import sqrt
# Viz
import seaborn as sns # for prettier plots
import matplotlib.pyplot as plt
%matplotlib inline
# TIME SERIES

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from statsmodels.tsa.ar_model import AutoReg

from warnings import catch_warnings
from warnings import filterwarnings
from statsmodels.tsa.statespace.sarimax import SARIMAX

import warnings
warnings.filterwarnings('ignore')
import json
from fbprophet import Prophet
from fbprophet.diagnostics import cross_validation
from fbprophet.diagnostics import performance_metrics
from fbprophet.diagnostics import performance_metrics
import utils

In [2]:
df=pd.read_csv("/bigdata/tara/ind_london_2018_sample.csv",index_col=0)

In [3]:
df_station=pd.read_csv('SampleData/sample_stations.csv',index_col=0)
df_station.head()

,ucl_id,operator_intid,operator_altid,operator_name,lat,lon,initial_bikes,initial_size,curr_bikes,curr_size,created_dt,updated_dt,neighbors_1,neighbors_2,station_id,change_count
0,12,12,12,"Malet Street, Bloomsbury",51.521681,-0.130432,25,40,26,49,2010-08-06 01:00:00,2020-02-14 17:38:02,"[364, 287]","[364, 287, 88, 19, 796]",12,38553
1,116,116,116,"Little Argyll Street, West End",51.514500,-0.141424,12,21,5,21,2010-08-06 01:00:00,2020-02-14 17:38:02,"[349, 159]","[159, 349, 313, 106, 141]",116,37611
3,32,32,32,"Leonard Circus , Shoreditch",51.524696,-0.084439,17,21,9,43,2010-08-06 01:00:00,2020-02-14 17:38:02,[323],"[323, 73, 58, 3, 319]",32,40529
6,195,195,195,"Milroy Walk, South Bank",51.507244,-0.106238,3,30,19,30,2010-08-06 01:00:00,2020-02-14 17:38:02,"[839, 230, 240, 792]","[839, 240, 230, 792, 420]",195,36805
7,66,66,66,"Holborn Circus, Holborn",51.517950,-0.108657,39,39,26,40,2010-08-06 01:00:00,2020-02-14 17:38:02,"[546, 67, 835]","[546, 67, 835, 84, 112]",66,49363

In [4]:
start_dates=['2018-01-01','2018-02-01','2018-03-01','2018-04-01','2018-05-01','2018-06-01','2018-07-01','2018-08-01',
             '2018-09-01','2018-10-01','2018-11-01','2018-12-01']
end_dates=['2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31','2018-06-30','2018-07-31','2018-08-31'
           ,'2018-09-30','2018-10-31','2018-11-30','2018-12-31']

In [5]:
freq=10 #the original freq of data is 2 minutes interval
time_offset=60 #for how many minutes ahead we want to predict
#forecast_steps=int(time_offset/freq) #number of predictions that we need to predict time_offset ahead
test_days=7 #the number of days for test
test_size=int(test_days*24*60/freq) 
forecast_steps=int(time_offset/freq)
# window_size=int(24*60/freq)
window_size=int(4*60/freq)
Stations=list(df_station['ucl_id'])

In [6]:
#xtest_size=int((test_days-1)*24*60/freq)
xtest_size=984

In [8]:
df_exg=pd.read_csv('SampleData/exg_df.csv',index_col=0)
df_exg['timestamp']=df_exg['timestamp'].values.astype('<M8[m]')
df_exg.drop_duplicates('timestamp',inplace=True)

In [9]:
# df_exg = df_exg.set_index('timestamp')
# df_exg=df_exg.asfreq(freq='60Min')
# df_exg=df_exg.fillna(method='ffill')
df_exg.head()

,timestamp,trip_count,temp,pressure,wind_speed,rain_1h,humidity,clouds_all,Clear,Clouds,...,Smoke,Snow,Thunderstorm,is_weekend,is_holiday,trip_log,is_non_workday,hour,is_rushhour,is_day
0,2018-01-01,754,280.27,996,9,0.0,70,68,0,1,...,0,0,0,0,1,6.626718,1,0,0,0
1,2018-01-02,90,279.16,1009,4,0.0,75,48,0,1,...,0,0,0,0,0,4.510860,0,0,0,0
2,2018-01-03,70,285.27,988,11,3.0,76,92,0,0,...,0,0,0,0,0,4.262680,0,0,0,0
3,2018-01-04,121,280.77,1001,6,0.0,75,40,0,1,...,0,0,0,0,0,4.804021,0,0,0,0
4,2018-01-05,94,278.85,993,3,0.3,81,92,0,0,...,0,0,0,0,0,4.553877,0,0,0,0

In [10]:
# # set the frequency of values to 2 minutes so we dont have any missing observation
exg_features=['timestamp','temp', 'humidity', 'Rain', 'hour', 'is_rushhour','is_day','is_weekend','is_holiday','is_non_workday']
df_exg=df_exg[exg_features]

#df_exg.index = pd.DatetimeIndex(df_exg.index.values,freq='1H')

df_exg.sort_index(inplace=True)

In [11]:
from sklearn import preprocessing

In [12]:
# london_df = df_london.drop(['timestamp','trip_count'],axis=1)
X = df_exg.drop(['timestamp'], axis=1)
y = df_exg[['timestamp']]
scaler_x = preprocessing.MinMaxScaler()
X =  pd.DataFrame(scaler_x.fit_transform(X), columns = X.columns)

In [13]:
X['timestamp']=y
X

,temp,humidity,Rain,hour,is_rushhour,is_day,is_weekend,is_holiday,is_non_workday,timestamp
0,0.367698,0.610390,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 00:00:00
1,0.340282,0.675325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-02 00:00:00
2,0.491195,0.688312,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-03 00:00:00
3,0.380048,0.675325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-04 00:00:00
4,0.332625,0.753247,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-05 00:00:00
...,...,...,...,...,...,...,...,...,...,...
8754,0.606293,0.909091,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2018-05-31 23:00:00
8755,0.591968,0.584416,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2018-07-31 23:00:00
8756,0.524786,0.519481,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2018-08-31 23:00:00
8757,0.422284,0.831169,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2018-10-31 23:00:00
8758,0.400548,0.688312,0.0,1.0,0.0,0.0,0.0,1.0,1.0,2018-12-31 23:00:00

In [14]:
X.timestamp = pd.DatetimeIndex(X.timestamp.values)
df_exg=X.copy()
df_exg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   temp            8759 non-null   float64
 1   humidity        8759 non-null   float64
 2   Rain            8759 non-null   float64
 3   hour            8759 non-null   float64
 4   is_rushhour     8759 non-null   float64
 5   is_day          8759 non-null   float64
 6   is_weekend      8759 non-null   float64
 7   is_holiday      8759 non-null   float64
 8   is_non_workday  8759 non-null   float64
 9   timestamp       8759 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(9)
memory usage: 684.4 KB

In [15]:
#df_exg.reset_index(level=0, inplace=True)
df_exg=df_exg.rename(columns={'timestamp':'ds','is_holiday':'holiday'})
df_exg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   temp            8759 non-null   float64
 1   humidity        8759 non-null   float64
 2   Rain            8759 non-null   float64
 3   hour            8759 non-null   float64
 4   is_rushhour     8759 non-null   float64
 5   is_day          8759 non-null   float64
 6   is_weekend      8759 non-null   float64
 7   holiday         8759 non-null   float64
 8   is_non_workday  8759 non-null   float64
 9   ds              8759 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(9)
memory usage: 684.4 KB

In [16]:
#non_workdays=pd.to_datetime(list(df_exg['timestamp'].unique()))
holidays = pd.DataFrame({
    'ds':df_exg[df_exg['holiday']==1]['ds'],
  'holiday': 'non_workdays',
  })
#holidays.ds=holidays.ds.values.astype('<M8[m]')
holidays.head()

            ds       holiday
0   2018-01-01  non_workdays
37  2018-04-02  non_workdays
54  2018-05-07  non_workdays
287 2018-12-24  non_workdays
299 2018-12-25  non_workdays

## Prophet

In [41]:
xtest_size=984

In [9]:
def run_prophet(regressor):            
    global i
    global model_times
    forecasts=[]
    tests=[]
    t0=test_size ##neded for reverse the diff  
    df_history=df_train.copy()
    for t in range(0,len(df_test),window_size):
        result={}
        predictions = list()
        start=time.time()
        model = Prophet(yearly_seasonality=False,weekly_seasonality=True,changepoint_prior_scale=3)
        if regressor:
            
            model.add_regressor('temp', prior_scale=0.5,standardize=False)
            model.add_regressor('humidity', prior_scale=0.5,standardize=False)
            model.add_regressor('Rain', prior_scale=0.5,standardize=False)
            model.add_regressor('hour', prior_scale=0.5,standardize=False)
            model.add_regressor('is_rushhour', prior_scale=0.5,standardize=False)
            model.add_regressor('is_day', prior_scale=0.5,standardize=False)
            model.add_regressor('is_non_workday', prior_scale=0.5,standardize=False)
            

        model_fit=model.fit(df_history[-len(df_train):])
        future=df_test[t:t+window_size].drop('y',axis=1)
        future['ds'] = pd.to_datetime(future['ds'])
        forecast = model_fit.predict(future)
        end=time.time()
        model_times.append(end-start)
        predictions.extend(list(forecast['yhat']))
              
        df_history = df_history.append(df_test[t:t+window_size])

        if t==xtest_size:
            df_forecast = pd.DataFrame(predictions, index=data.index[-test_size+t:],columns=['yhat'])
        else:
            df_forecast = pd.DataFrame(predictions, index=data.index[-test_size+t:-test_size+t+window_size],columns=['yhat'])
        
        df_forecast=forecast[['yhat']]
        df_forecast=utils.inverse_normalize(df_forecast,total_dock)
        
        
        df_actual=utils.inverse_normalize(df_test[['y']],total_dock)        
        
        t0=test_size +window_size
        
        df_forecast= utils.forecast_truncate(df_forecast,total_dock)
        
        ######################write to file
        forecasts.extend(list(df_forecast.iloc[:,0].values))
        tests.extend(list(df_actual.iloc[t:t+window_size,0].values))
#     plt.figure(figsize=(15,5))
#     plt.plot(original_data.iloc[0:len(original_data)-test_size,0].values)
#     plt.plot([None for i in df_train.iloc[:,0].values] + [x for x in tests])
#     plt.plot([None for i in df_train.iloc[:,0].values] + [x for x in forecasts])
        
        if ((t+window_size)%(6*window_size) == 0):

            result['day']=df_test[t:t+window_size].iloc[1].ds.dayofweek
            result['month']=df_test[t:t+window_size].iloc[1].ds.month
            result['station_id']=station_id
    #             result['predict']=list(df_forecast.iloc[:,0].values)
    #             result['test']=list(df_actual.iloc[:,0].values)
            result['predict']=forecasts
            result['test']=tests
            if regressor:
                with open('report/test/Prophetx/'+'prophet_result_'+str(station_id)+'_'+str(i)+'.json', 'w+') as f:
                    f.write(json.dumps(result))
            else:
                with open('report/test/regressors/Prophet/'+'prophet_result_'+str(station_id)+'_'+str(i)+'.json', 'w+') as f:
                    f.write(json.dumps(result))

            i=i+1
            forecasts=[]
            tests=[]

In [10]:
import time
prophet_report=[]
p_orders=list()
p_order_times=list()
model_times=list()
i=0

for date in range(0,12):
    start_date=start_dates[date]
    end_date=end_dates[date]
    print(start_date)
    for station_id in Stations:
        total_dock=df[df['operator_id']==int(station_id)]['total_docks'].values[0]
        data=df[df['operator_id']==station_id]
        #data=clean_df(data)        
        data=df[df['operator_id']==station_id]
        data=utils.clean_df(data,station_id,start_date,end_date,freq)
        #original_data=data
        data=utils.normalize(data,total_dock)
        anomalies=utils.anomaly_detection(data,freq)
        data=utils.anomaly_removal(anomalies,data)
        data.reset_index(level=0, inplace=True)
        data=data.rename(columns={'timestamp':'ds','spaces_'+str(station_id):'y'})
        #df_prophet=pd.merge(data,df_exg)
        df_train, df_test = data[0:len(data)-test_size], data[len(data)-test_size:]
        run_prophet(regressor=False)

2018-01-01
2018-02-01
2018-03-01
2018-04-01
2018-05-01
2018-06-01
2018-07-01
2018-08-01
2018-09-01
2018-10-01
2018-11-01
2018-12-01

In [11]:
np.mean(model_times)

2.7655806668261262

In [11]:
with open('prophet_model_time.txt', 'w+') as f:
    for item in model_times:
        f.write("%s\n" % item)

In [5]:
xtest_size=164

In [6]:
freq=60 #the original freq of data is 2 minutes interval
time_offset=60 #for how many minutes ahead we want to predict
#forecast_steps=int(time_offset/freq) #number of predictions that we need to predict time_offset ahead
test_days=7 #the number of days for test
test_size=int(test_days*24*60/freq) 
forecast_steps=int(time_offset/freq)
window_size=int(4*60/freq)
Stations=list(df_station['ucl_id'])

In [32]:
prophet_report=[]
import time
model_times=list()
i=0


for date in range(0,12):
    start_date=start_dates[date]
    end_date=end_dates[date]
    print(start_date)
    for station_id in Stations:
        total_dock=df[df['operator_id']==int(station_id)]['total_docks'].values[0]
        data=df[df['operator_id']==station_id]
        #data=clean_df(data)        
        data=df[df['operator_id']==station_id]
        data=utils.clean_df(data,station_id,start_date,end_date,freq)

        data=utils.normalize(data,total_dock)
        anomalies=utils.anomaly_detection(data,freq)
        data=utils.anomaly_removal(anomalies,data)
        data.reset_index(level=0, inplace=True)
        data=data.rename(columns={'timestamp':'ds','spaces_'+str(station_id):'y'})
        df_prophet=pd.merge(data,df_exg)
        df_train, df_test = df_prophet[0:len(df_prophet)-test_size], df_prophet[len(df_prophet)-test_size:]
        run_prophet(regressor=True)

2018-01-01
2018-02-01
2018-03-01
2018-04-01
2018-05-01
2018-06-01
2018-07-01
2018-08-01
2018-09-01
2018-10-01
2018-11-01
2018-12-01

In [33]:
with open('prophetx_model_time.txt', 'w+') as f:
    for item in model_times:
        f.write("%s\n" % item)